{% include base_path %}

{% assign share_url = page.url | absolute_url %}
{% assign share_url_encoded = share_url | uri_escape %}
{% assign share_title_encoded = page.title | default: site.title | uri_escape %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label and site.custom_share_links and site.custom_share_links.size > 0 %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  {% if site.custom_share_links and site.custom_share_links.size > 0 %}
    {% for link in site.custom_share_links %}
      {% assign share_href = link.url | replace: "{url}", share_url_encoded | replace: "{title}", share_title_encoded %}
      <a href="{{ share_href }}" class="btn {{ link.class | default: 'btn--primary' }}" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} {{ link.name }}" target="_blank" rel="noopener noreferrer">
        <i class="{{ link.icon | default: 'fas fa-share-alt' }}" aria-hidden="true"></i><span> {{ link.name }}</span>
      </a>
    {% endfor %}
  {% endif %}
</section>
